extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Mitchell Tyrer

        p.lead.text-light
          | Full Stack JavaScript Developer,
          br
          | Visual Story Teller,
          br
          | Super Awesome Dude.

        .portfolio-bio
          p
            | A natural problem solver that has grown up surrounded in the technical world, it was only a matter of time before I decided to branch into some for of tech.
            | A self trained JavaScript Developer with a background in Cinematography, I bring a unique set of skills to any team I am on.
            | Not only can I write the code neccessary to create beautiful web apps, my background in film production makes collaboration with others easy-going and productive.
            | I also have a keen eye for details, which helps with my applications as I can see design changes as I code for a more visually stunning user interaction.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node
          li Express
          li Adobe Creative Cloud
        h6 Contact Info

        ul
          li 919-619-7832
          li mltcinematography@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/mitchell-tyrer-56762238/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Mitch-Tyrer', target='_blank') GitHub
        a.button.expanded(href='https://www.mltcinematography.com/', target='_blank') My Film Work
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  