extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      img(src="/static/imgs/errors/rsz_1error_banner.jpg")

  h5.lead.text-light= `| ${error.status} ${error.message} `
    p.error= `${error.stack}`

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back